@page "/studenti"
@using BlazorApp1.Models

<h3>Studenti</h3>

<a href="/studenti/aggiungi" class="btn btn-primary mb-2">Aggiungi Studente</a>

<table class="table table-light table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Età</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in studenti)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.Nome</td>
                <td>@s.Cognome</td>
                <td>@s.Eta</td>
                <td>
                    <button class="btn btn-primary btn-sm" @onclick="() => ModificaStudente(s.Id)">Modifica</button>
                    <button class="btn btn-danger btn-sm" @onclick="() => EliminaStudente(s.Id)">Elimina</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    // Popolamento della tabella studenti
    private List<Studente> studenti = new();

    private Studente? studenteCorrente;

    private void AggiungiStudente()
    {
        studenteCorrente = new Studente(); // Mostra il form
    }


    private void ModificaStudente(int id)
    {
        studenteCorrente = studenti.FirstOrDefault(s => s.Id == id);
    }

    private void SalvaStudente()
    {
    }

    private void EliminaStudente(int id)
    {
        Studente? value = studenti.FirstOrDefault(s => s.Id == id);
        if (value != null)
        {
            studenti.Remove(value);
        }
    }
}
